#radar_maps_container {
	position: fixed;
	top: 20px;
	left: 20px;
	border: none;
	background-color: rgba(0,0,0,0.5);
	transition: all 1s;

	.map-container {
		transition: all 1s;
	}
}
#iframe_radar {
	border: none;
}
#radar_maps_container.hide {
	opacity: 0;
}
#radar_maps_container.preview {
    transform: rotate3d(1, 0, 0, 14deg) translateX(-50%);
    transform-style: preserve-3d;
    left: 50%;
    top: 100px;
	.map {
		perspective: 500px;
	}
}
.radar-component-container {
	width: 350px;
	height: 350px;
	overflow: hidden;
}
#maps_container {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: rgba(0,0,0,0.5);
}
.veto_entry {
	display: flex;
	justify-content: center;
	>div {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		text-transform: uppercase;
		font-size: 10pt;
	}
	.team_logo {
		img {
			max-height: 23px;
			padding-right: 3px;
			max-width: 23px;
		}
		.logo {
			height: 23px;
			width: 23px;
		}
	}
	.map_name.active {
		text-shadow: 0 0 15px white;
		font-weight: 600;
	}
}
.rounds-result {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 750px;
	padding: 10px 20px;
	top: 115px;
	position: absolute;
	gap: 5px;
	background-color: var(--sub-panel-color);
	color: white;
	fill: white;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.5s;

	svg {
		width: 15px;
		height: 15px;
	}

	&.hide {
		//display: none;
		opacity: 0;
	}

	.round {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2px;

		.block {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 900;
			font-size: 14px;
			width: 28px;
			height: 28px;

			.block-top {
				left: 0;
				top: 0;
				width: 100%;
				height: 4px;
				position: absolute;
				background-color: #666666;
			}

			span {
				padding-top: 4px;
			}

			&.CT {
				background: linear-gradient(180deg, rgba(114, 193, 230, 0.6) 0%, rgba(255, 255, 255, 0) 90%);

				.block-top {
					background-color: var(--color-new-ct);
				}
			}

			&.T {
				background: linear-gradient(180deg, rgba(210, 171, 103, 0.6) 0%, rgba(255, 255, 255, 0) 90%);

				.block-top {
					background-color: var(--color-new-t);
				}
			}
		}
	}
}