.teambox.left.CT .player:first-child .player_data {
    background-image: url("../../assets/CT_L1.png");
}
.teambox.left.CT .player:nth-child(2) .player_data {
    background-image: url("../../assets/CT_L2.png");
}
.teambox.left.CT .player:nth-child(3) .player_data {
    background-image: url("../../assets/CT_L3.png");
}
.teambox.left.CT .player:nth-child(4) .player_data {
    background-image: url("../../assets/CT_L4.png");
}
.teambox.left.CT .player:last-child .player_data {
    background-image: url("../../assets/CT_L5.png");
}

.teambox.right.CT .player:first-child .player_data {
    background-image: url("../../assets/CT_R1.png");
}
.teambox.right.CT .player:nth-child(2) .player_data {
    background-image: url("../../assets/CT_R2.png");
}
.teambox.right.CT .player:nth-child(3) .player_data {
    background-image: url("../../assets/CT_R3.png");
}
.teambox.right.CT .player:nth-child(4) .player_data {
    background-image: url("../../assets/CT_R4.png");
}
.teambox.right.CT .player:last-child .player_data {
    background-image: url("../../assets/CT_R5.png");
}

.teambox.left.T .player:first-child .player_data {
    background-image: url("../../assets/T_L1.png");
}
.teambox.left.T .player:nth-child(2) .player_data {
    background-image: url("../../assets/T_L2.png");
}
.teambox.left.T .player:nth-child(3) .player_data {
    background-image: url("../../assets/T_L3.png");
}
.teambox.left.T .player:nth-child(4) .player_data {
    background-image: url("../../assets/T_L4.png");
}
.teambox.left.T .player:last-child .player_data {
    background-image: url("../../assets/T_L5.png");
}

.teambox.right.T .player:first-child .player_data {
    background-image: url("../../assets/T_R1.png");
}
.teambox.right.T .player:nth-child(2) .player_data {
    background-image: url("../../assets/T_R2.png");
}
.teambox.right.T .player:nth-child(3) .player_data {
    background-image: url("../../assets/T_R3.png");
}
.teambox.right.T .player:nth-child(4) .player_data {
    background-image: url("../../assets/T_R4.png");
}
.teambox.right.T .player:last-child .player_data {
    background-image: url("../../assets/T_R5.png");
}

.teambox.hide {
    opacity: 0;
}

.teambox {
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.75s;

    &.CT {
        .player .hp_bar {
            background-color: var(--color-new-ct);
        }
    }

    &.T {
        .player .hp_bar {
            background-color: var(--color-new-t);
        }
    }

    &.hide {
        opacity: 0;
    }

    &.left {
        left: 20px;

        .player {
            .player_data {
                .alive-stats {
                    left: 130px;
                }
            }

            &.active {
                .player_data {
                    box-shadow: #b7f312 13px 0px 0px;
                    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(183,243,18,0.5) 100%);
                    z-index: 99;
                }
            }

            .bot-row {
                flex-direction: row;

                .grenades {
                    padding-right: 5px;
                }

                .armor_and_utility {
                    justify-content: flex-start;
                }

                .money {
                    margin-right: auto;
                }

                .secondary_weapon {
                    padding-right: 10px;
                }
            }

            .top-row {
                flex-direction: row;

                .username .roundkills-container {
                    right: 115px;
                }
            }

            .dead-stats {
                right: 8px;
            }
        }
    }

    &.right {
        right: 20px;

        .player {
            flex-direction: row-reverse;

            &.active {
                .player_data {
                    box-shadow: #b7f312 -13px 0px 0px;
                    background: linear-gradient(90deg, rgba(183,243,18,0.5) 0%, rgba(0,0,0,0) 100%);
                    z-index: 99;
                }
            }

            .dead-stats {
                left: 8px;
            }

            .player_data {
                flex-direction: row-reverse;

                .alive-stats {
                    right: 140px;
                }

                .hp_bar {
                    align-self: flex-end;
                }

                .bot-row {
                    flex-direction: row-reverse;

                    .grenades {
                        padding-left: 5px;
                    }

                    .secondary_weapon {
                        padding-left: 10px;
                    }

                    .armor_and_utility {
                        justify-content: flex-end;
                    }

                    .money {
                        margin-left: auto;
                        justify-content: flex-end;
                    }

                    .weapon {
                        transform: scaleX(-1);
                    }
                }

                .top-row {
                    flex-direction: row-reverse;

                    .username {
                        flex-direction: row-reverse;

                        .roundkills-container {
                            left: 115px;
                        }
                    }
                }

                .avatar {
                    justify-content: flex-start;
                }
            }
        }
    }

    .player {
        width: 375px;
        height: 85px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &.active {
            .player_data {
                /*box-shadow: #a7d32e 10px 0px 0px;*/
            }
        }

        &.dead {
            opacity: 0.8;

            .player_side_bar {
                background-color: var(--main-panel-color) !important;
            }

            .player_data {
                width: 300px;
                transition: width 0.5s ease-in-out;

                .avatar {
                    filter: grayscale(100%);
                }

                .dead-stats {
                    display: flex;
                    opacity: 1;
                }

                .top-row {
                    .hp_background_2 {
                        opacity: 0;
                    }

                    .health {
                        color: #b2b2b2;
                        overflow: hidden;
                    }

                    .username {
                        color: #b2b2b2;
                    }

                    .armor_and_utility {
                        width: 0px;
                        overflow: hidden;
                    }

                    .money {
                        color: #466722;
                    }
                }
            }
        }

        &:last-child .player_data {
            //border-radius: 0 0 20px 20px;
        }

        .player_side_bar {
            width: 10px;
            height: 70px;

            &.CT {
                background-color: var(--color-new-ct);
            }

            &.T {
                background-color: var(--color-new-t);
            }
        }

        .dead-stats {
            position: absolute;
            height: 100%;
            width: 60px;
            display: none;
            flex-direction: column;
            font-weight: 600;
            color: white;
            opacity: 1;
            align-items: center;

            .labels, .values {
                display: flex;
                flex-direction: row;
                flex: 1;

                .stat-label, .stat-value {
                    display: flex;
                    flex: 1;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .player_data {
            /*background-color: var(--sub-panel-color);*/
            width: 375px;
            display: flex;
            flex-direction: row;
            position: relative;
            height: 100%;

            .player_stats {
                display: flex;
                flex-direction: column;
                flex: 1;
                min-width: 0;

                .hp_bar {
                    position: absolute;
                    height: 40%;

                    &.low {
                        background-color: red;
                    }
                }

                .top-row {
                    /*flex: 1;*/
                    display: flex;
                    position: relative;
                    height: 35px;

                    svg.weapon {
                        filter: invert(45%);

                        &.active {
                            filter: invert(0);
                        }
                    }

                    .hp_background, .hp_background_2 {
                        position: absolute;
                        width: 100%;
                        height: 98%;
                        z-index: 0;
                    }

                    .hp_background_2 {
                        background-color: var(--color-bomb);
                        transition: width 0.75s ease-in-out;

                    }

                    .username {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        z-index: 1;
                        color: white;
                        font-weight: 600;
                        max-width: calc(100% - 49px);
                        justify-content: space-between;
                        overflow: hidden;
                        font-size: 18px;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        .roundkills-container {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 30px;
                            width: 30px;
                            background-image: url('./../../assets/images/icon_cross_default.svg');
                            background-repeat: no-repeat;
                            background-size: 30px;
                            font-size: 15px;
                            font-weight: 800;
                        }

                        div span {
                            opacity: 0.6;
                            font-size: 15px;
                        }

                        svg.weapon {
                            max-height: 30px;
                            width: auto;
                            margin-left: 5px;
                            margin-right: 5px;
                            max-width: 100px;
                            height: 30px;
                        }
                    }

                    .health {
                        width: 49px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 1;
                        color: white;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }

                .bot-row {
                    /*flex: 1;*/
                    display: flex;
                    position: relative;
                    height: 50px;

                    .armor_and_utility {
                        width: 39px;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;

                        .armor_indicator, .bomb_indicator, .defuse_indicator {
                            svg {
                                max-height: 20px;
                                fill: white;
                            }
                        }

                        div {
                            display: flex;
                            width: 50%;
                        }
                    }

                    .money {
                        width: 60px;
                        color: var(--color-moneys);
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }

                    .alive-stats {
                        position: absolute;
                        height: 85%;
                        width: 60px;
                        display: flex;
                        flex-direction: row;
                        color: white;
                        opacity: 1;
                        top: 10%;
                        font-size: 16px;
                        font-weight: 600;
                        justify-content: center;

                        .alive-kills {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                        }

                        .alive-deaths {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding-left: 15px;
                        }

                        .alive-stat-label {
                            display: flex;
                            width: 15px;
                            height: 15px;
                            justify-content: center;
                            align-items: center;
                            padding: 3px;
                            transform: scale(1)
                        }

                        .alive-stat-value {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .grenades {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        svg.grenade {
                            max-height: 20px;
                            height: 20px;
                        }
                    }

                    .secondary_weapon {
                        display: flex;
                        align-items: center;

                        svg {
                            max-height: 30px;
                            height: 30px;
                        }
                    }
                }
            }

            .avatar {
                width: 70px;
                display: none;
                align-items: center;
                justify-content: flex-end;
                overflow: hidden;
                position: absolute;
                z-index: 3;

                .videofeed {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    display: flex;
                    justify-content: center;

                    video {
                        height: 70px;
                        position: absolute;
                    }
                }

                img {
                    //border-radius:50%;
                }
            }
        }
    }
}

.players_alive {
    display: flex;
    flex-direction: column;
    width: 170px;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    right: 20px;
    top: 20px;
    opacity: 1;
    transition: opacity 0.5s linear;
    overflow: hidden;

    .counter_container {
        display: flex;
        height: 40px;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin-bottom: 5px;

        > .team_counter {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            font-weight: 900;
            color: white;
        }

        > .vs_counter {
            color: white;
            font-size: 14px;
            font-weight: 900;
        }

        .CT {
            color: var(--color-new-ct);
        }

        .T {
            color: var(--color-new-t);
        }
    }

    .title_container {
        color: white;
        text-align: center;
        height: 27px;
        font-size: 15px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255,255,255,0.1);
    }

    &.hide {
        opacity: 0;
    }
}
